@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

body {
  max-width: 1680px;
  width: 100%;
  font-family: 'Kanit', sans-serif;
}

.container {
  max-width: 1120px;
  width: 100%;
  /*background-image: url(../img/grid.png);*/
}

.menu1 {
  background-color: #472424;
}

.menu1 a {
  font-size: 13px;
  line-height: 2;
  color: #ffffff;
}

.menu1 a:hover {
  background-color: #ff7373;
  color: #ffffff;
}

.menu2 {
  background-color: #623232;
}

.navbar-brand {
  padding-left: 1rem;
}

.menu-two a {
  font-size: 18px;
  line-height: 2;
  color: #ffffff;
}

.menu-two a:hover {
  color: #ff7373;
}

.menu2 a img {
	margin-top: 12px;
}

/* HEADER */

header {
  background-color: #f0efee;
}

header img {
  margin-top: -84px;
  margin-left: -198px;
}

header .card {
  background-color: #f0efee;
  border: none;
  padding-top: 113px;
  padding-bottom: 134px;
}

header .card h3 {
  font-size: 30px;
  color: #623232;
}

header .card h1 {
  font-size: 70px;
  font-weight: bold;
  color: #623232;
}

header .card h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff7373;
}

header .card p {
  font-size: 16px;
  line-height: 1.63;
  color: #8a8784;
}

header .card a {
  background-color: #ff7373;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  text-transform: uppercase;
  width: 255px;
  height: 48px;
  padding-top: 9px;
}

/* NIKES */


.nikes {
  background-color: #ffffff;
}

.nike1 {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-nike1 {
	margin-top: -980px;
}

.nike1 p {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: -540px;
}

.nike1 h4 {
   color: #4bd8cd;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: -20px;
}

.nike1 a {
  font-size: 16px;
  line-height: 1.63;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  width: 211px;
  height: 48px;
  background-color: #4bd8cd;
  margin-left: 160px;
  margin-top: 345px;
}

.nike2 {
  width: 540px;
  height: 255px;
  background-color: #ff7373;
  margin-top: 50px;
}

.nike2 p {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: -200px;
  margin-left: 180px;
}

.nike2 h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-left: 180px;
  margin-top: -20px;
}

.nike2 img {
  margin-top: -22px;
}

.nike2 a {
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  width: 145px;
  height: 48px;
  background-color: #623232;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: 286px;
  margin-bottom: 30px;
}

.nike2 a:hover {
  color: #ffffff;
}

.nike3 {
  background-image: url(../img/nike3.png);
  width: 250px;
  height: 250px;
  margin-top: -254px;
}

.nike3 p {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 150px;
}

.nike3 h4 {
  font-size: 30px;
  text-align: center;
  color: #ff7373;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -20px;
}

.nike4 {
  background-image: url(../img/nike4.png);
  width: 250px;
  height: 250px;
  margin-top: -254px;
}

.nike4 p {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.nike4 h4 {
  color: #6b7072;
  font-size: 30px;
  text-align: center;
  margin-top: -20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* SHOP */

.shop {
  background-color: #ffffff;
  margin-top: 50px;
}

.shop-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.shop-menu a {
  font-size: 30px;
  color: #bdb9b5;
  text-transform: uppercase;
  margin-right: 36px;
  font-weight: bold;
}

.shop-menu a:hover {
   color: #623232;
   text-decoration: none;
}

.shop .card {
  border: solid 1px #e0dfde;
  background-color: #ffffff;
}

.card-body {
  padding: 20px 0px 20px 20px;
}

.card-body .odd {
  color: #8a8784!important;
}

.card-bory .img-low {
  padding-top: 30px!important;
}

.card-body .price {
  font-size: 24px;
  line-height: 1.08;
  color: #ff7373;
}

.card-body .img-heigh {
  margin-bottom: 70px;
}

.card-body p span {
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  width: 61px;
  height: 28px;
  background-color: #ff7373;
  padding-left: 5%;
}

.card-body s {
  color: #8a8784;
}

.card-body .gender {
  margin-bottom: 3px;
}

.card-body .gender, .description {
  color: #8a8784;
}

.card-body .description {
  margin-bottom: 3px;
}

.card-body .model {
  font-size: 13px;
  color: #bdb9b5;
}

.card-body .img-low {
  margin-bottom: 65px;
  margin-top: 28px;
}


.people {
  background-color: #472424;
}

.people .card {
  background-color: transparent;
}

.people .card {
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 28px;
  border: none;
  opacity: 0.4;
}

.people .card:hover {
  opacity: 0.9;
}

.people .text-row {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  background-color: #5a3a3a;
}

.people .text-row p {
  padding-top: 65px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 47px;
}

.people .t-row {
  padding-bottom: 100px;
}